*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

div{
  background-size: cover;
  background-position: bottom center;
  height: 200px;
  width: 200px;
  border: 0px solid black;
  margin: 20px;
  display: inline-block;
}

.title {
  color:rgb(111, 151, 111) ;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 10px;
  font-size: xxx-large;
}

.subtitle {
  color: white;
  background-color:rgb(111, 151, 111) ;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 10px;
}

.body {
  margin:20px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  margin-left: 2;
}

.bordersign {
  width: 200px;
  height: 250px;
  border: 1px solid black;
  position: relative;
 display: inline-block;
 margin-top: 20px;

}

.formbody {
  margin:1px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
}

.logintext {
  margin:20px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  margin-left: 60px;
}

.formtext {
  margin:20px;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  margin-left: 40px;
}

.text {
  margin: 30px;
  height: 30px;
  width: 400px;
  display: inline;

}

.sign {
  margin-left: 20px;
}


.video {
  margin: 20px;
}

.login {
  color: white;
  background-color:rgb(111, 151, 111);
  font-family: 'Courier New', Courier, monospace;
  height: 200px;
  width: 200px;
  font-size: medium;
  margin: 200px;
}

.button {
  margin: 20px;
  background-color: rgb(111, 151, 111); 
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-inline-start: 1px;
  font-size: x-large;
  margin-left: 50px;
  margin-right: 50px;
}

.formbutton {
  margin: 20px;
  background-color: rgb(111, 151, 111); 
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-inline-start: 1px;
  font-size: large;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0px;
}

.subutton {
  margin: 20px;
  background-color: rgb(255, 255, 255); 
  color: rgb(111, 151, 111);
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-inline-start: 1px;
  font-size: x-large;
  
}

.label {
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.text {
  margin: 30px;
  height: 30px;
  width: 400px;
  display: inline;

}

.homebody {
  position: relative;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: larger;
  margin-left: 20px;
  margin-right: 400px;
}

.topL {
 background-size: cover;
 background-image: url("https://i.pinimg.com/474x/07/d4/16/07d416734010d7fac4071d694a75dfdf.jpg"); 
 height: 250px;
 width: 200px;
 position: relative;
 display: inline-block;
 margin-top: 20px;

}

.topmid {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/e2/a5/b6/e2a5b62559e85c28b567019019190e7a.jpg");
  position: relative;
  display: inline-block;
  margin-top: 20px;
  height: 250px;
 width: 200px;

}

.topR {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/38/82/44/38824476dca96c5e26b35a3d5d8f5bbd.jpg"); 
  height: 250px;
  width: 200px;
  position: relative;
 display: inline-block;
}

.mid1 {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/0e/87/54/0e87548cb1cf8f69847ea6ba7d73d126.jpg"); 
  width: 200px; 
  height: 250px;
  position: relative;
  display: inline-block;
}

.mid2 {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/ba/89/10/ba89102f50d0e90d04fc1df971b37c35.jpg");
  height: 250px;
  width: 200px; 
  position: relative;
  display: inline-block;
}

.mid3 {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/da/f1/0b/daf10be5deaf415b073277ae092d6a56.jpg");
  height: 250px;
 width: 200px;
  position: relative;
  display: inline-block;
}

.bottL {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/e5/c2/1c/e5c21c93c0c02032618853b7943745cf.jpg"); 
  height: 250px;
  width: 200px; 
  position: relative;
  display: inline-block;
}

.bottmid {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/60/b5/b7/60b5b7ad70620119e5d8f69cf2f6a4c2.jpg"); 
  height: 250px;
  width: 200px; 
  position: relative;
  display: inline-block;
}

.bottR {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/a1/23/e2/a123e2ae74d199beeb6da45f313668d4.jpg"); 
  height: 250px;
  width: 200px; 
  position: relative;
  display: inline-block;
}


<---! PAGES ---!>

.kennyc1 {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/90/60/24/90602422dc40a7570937c13a8f0db488.jpg");
  height: 320px;
  width: 200px;
  
}

.kennyc2 {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/30/a0/80/30a080f18ff8127c11bd640db6fdc541.jpg") ;
  height: 320px;
  width: 200px;
}

.kennyc3 {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/c5/b0/43/c5b043938fb8932f5f84507ee116b077.jpg") ;
  height: 320px;
  width: 200px;
}

.kennyb1 {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/2e/49/00/2e49003534daad41ed9c1dd5e5b9703a.jpg");
  height: 320px;
  width: 200px;

}

.kennyb2 {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/d5/a1/71/d5a1712074cccacd95f2ff2b21cfc4c9.jpg");
  height: 320px;
  width: 200px;
}

.kennyb3  {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/c3/12/55/c31255c95f502a32e715e9a8aea1ccb4.jpg") ;
  height: 320px;
  width: 200px;
}

<!--- HAILEY PICTURES ---!>




.hailsb1  {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/70/43/96/704396039d672ec05ae0da6986219773.jpg") ;
  height: 300px;
  width: 200px;
}

.hailsb2  {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/64/34/f0/6434f0e07e0e791859142056a05a43eb.jpg") ;
  height: 300px;
  width: 200px;
}

.hailsb3  {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/b1/68/3f/b1683fdf6acd7f7ae5f06420a57e2651.jpg") ;
  height: 320px;
  width: 200px;
}

.hailsc1  {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/f0/49/cb/f049cbd633058f249565346259846b59.jpg") ;
  height: 320px;
  width: 200px;
}

.hailsc2  {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/db/be/09/dbbe094b1ae9cb5eebcd7329ff425aab.jpg") ;
  height: 320px;
  width: 200px;
}

.hailsc3 {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/bd/0c/84/bd0c84e8ad8aba16c93bd8eb9e8e6005.jpg") ;
  height: 320px;
  width: 200px;
}

<!----BELLA PHOTOS ---!>


.bellab1  {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/69/61/fe/6961fe531cf193cbbc83e458bd8a7c76.jpg") ;
  height: 320px;
  width: 200px;
}

.bellab2  {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/7a/2c/ed/7a2ced6ed24ba7bb14cf4139f7d887d3.jpg") ;
  height: 300px;
  width: 200px;
}

.bellab3  {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/51/5a/51/515a51d17d7fb86949c7036040cc6950.jpg") ;
  height: 320px;
  width: 200px;
}

.bellac1 {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/a5/b5/31/a5b5312823331618692ab438aa1e0b53.jpg") ;
  height: 320px;
  width: 200px;
}

.bellac2  {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/a5/e7/bd/a5e7bd4002e96c43d82453ed27c423d2.jpg") ;
  height: 320px;
  width: 200px;
}

.bellac3 {
  background-size: cover;
  background-image: url("https://i.pinimg.com/474x/55/ac/b9/55acb917d9db088db22616e9f4e2b0c9.jpg") ;
  height: 320px;
  width: 200px;
}

